# clean the junk

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.synctex.gz
*.toc
*.lof
*.lol
*.lot
*.tod
*.xml
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.ilg
*.idx
*.ind